@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.noto-sans-kr-400 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background: rgb(255,254,238, 0.1);
    /* background: linear-gradient(135deg, rgba(255,254,238,0.1) 50%, rgba(75, 182, 100, 0.1) 100%); */
}

.signup-content {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
}

.bdr {
    border: 1px dashed rgb(143, 143, 143);
}

.signup-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 50px;
    padding: 50px;
    box-shadow: 0 0 0 1px #e3e5e8,0 1px 2px 0 rgba(0,0,0,.04);
    border-radius: 10px;
}

.signup-title {
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 25px;
}

input.signup-input {
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 10px;
    text-indent: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #ccc;
}

input.email-available {
    border: 1px solid #4CAF50; /* 녹색 */
}

.signup-form {
    display: flex;
    flex-direction: column;
}

button.sign-up-button {
    height: 40px;
    color: white;
    background-color: #7cb57c;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}

button.sign-up-button:hover {
    background-color: #428f42;
}

button.error {
    background-color: #ff4d4db8; /* 빨간색 */
}

button.email-checked {
    background-color: #2f71ffb9; /* 파란색 */
}

.check-button {
    margin-bottom: 15px;
}

button:disabled.submit-disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.submit-enabled {
    background-color: #7cb57c; /* 초록색 */
}

.match {
    color: green;
}

.mismatch {
    color: red;
}

.error {
    color: white;
}

.check-phrase {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

p {
    margin: 0;
}
